<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <td>{{user.UserId}}</td>
      <td>{{user.UserName}}</td>
      <td>{{user.UserSurname}}</td>
      <td>{{user.UserEmail}}</td>
      <td>{{user.UserPassword}}</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary"  (click)="getAllUser()">Reflesh</button>
